In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder,LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv("D:\\CODSOFT\\Churn\\archive (2)\\Churn_Modelling.csv")

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [9]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [10]:
X=df.drop(['Surname', 'RowNumber', 'NumOfProducts', 'Geography', 'Gender', 'Tenure', 'Exited'],axis=1)
Y=df['Exited']

In [11]:
X.head()

,CustomerId,CreditScore,Age,Balance,HasCrCard,IsActiveMember,EstimatedSalary
0,15634602,619,42,0.00,1,1,101348.88
1,15647311,608,41,83807.86,0,1,112542.58
2,15619304,502,42,159660.80,1,0,113931.57
3,15701354,699,39,0.00,0,0,93826.63
4,15737888,850,43,125510.82,1,1,79084.10

In [12]:
Y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [13]:
X_train,X_test,Y_train,Y_test =train_test_split(X,Y,test_size=0.2,random_state=26)

In [14]:
print(X.shape,X_train.shape,X_test.shape)

(10000, 7) (8000, 7) (2000, 7)

In [15]:
print(Y.shape,Y_train.shape,Y_test.shape)

(10000,) (8000,) (2000,)

In [16]:
s=StandardScaler()
X_train_scaled=s.fit_transform(X_train)
X_test_scaled=s.transform(X_test)

In [17]:
encoder=OneHotEncoder()
Y_train_encoded=encoder.fit_transform(Y_train.to_numpy().reshape(-1, 1)).toarray()

In [18]:
le=LabelEncoder()
Y_train_encoded=le.fit_transform(Y_train)

In [19]:
model=LogisticRegression()

In [20]:
model.fit(X_train_scaled,Y_train_encoded)

LogisticRegression()

In [21]:
logistic_regression_pred=model.predict(X_test_scaled)

In [22]:
print("Logistic Regression:")
print(accuracy_score(Y_test,logistic_regression_pred))
print(classification_report(Y_test, logistic_regression_pred))

Logistic Regression:
0.818
              precision    recall  f1-score   support

           0       0.83      0.97      0.90      1624
           1       0.55      0.16      0.25       376

    accuracy                           0.82      2000
   macro avg       0.69      0.57      0.57      2000
weighted avg       0.78      0.82      0.78      2000

In [23]:
random_forest_model = RandomForestClassifier()

In [24]:
random_forest_model.fit(X_train_scaled, Y_train_encoded)

RandomForestClassifier()

In [25]:
random_forest_pred = random_forest_model.predict(X_test_scaled)

In [26]:
print("Random Forest:")
print(accuracy_score(Y_test,random_forest_pred))
print(classification_report(Y_test, random_forest_pred))

Random Forest:
0.844
              precision    recall  f1-score   support

           0       0.86      0.96      0.91      1624
           1       0.67      0.34      0.45       376

    accuracy                           0.84      2000
   macro avg       0.77      0.65      0.68      2000
weighted avg       0.83      0.84      0.82      2000

In [27]:
gradient_boosting_model = GradientBoostingClassifier()

In [28]:
gradient_boosting_model.fit(X_train_scaled, Y_train_encoded)

GradientBoostingClassifier()

In [29]:
gradient_boosting_pred = gradient_boosting_model.predict(X_test_scaled)

In [30]:
print("Gradient Boosting:")
print(accuracy_score(Y_test,gradient_boosting_pred))
print(classification_report(Y_test,gradient_boosting_pred))

Gradient Boosting:
0.848
              precision    recall  f1-score   support

           0       0.86      0.97      0.91      1624
           1       0.72      0.32      0.44       376

    accuracy                           0.85      2000
   macro avg       0.79      0.64      0.68      2000
weighted avg       0.83      0.85      0.82      2000